
body {
    background: url(img/fon.jpg);
}

div {
    margin-left:350px;
    width: 800px;
}

ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    margin-top:25px; /*делаем отступ сверху*/
}
ol {
    padding-left: 40px;
    margin-top: 1em;
    margin-bottom: 1em;}
#ida  {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#30A8E6; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:10px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}
#ida:hover {
    background:#1C85BB;/*добавляем эффект при наведении*/
}
li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    margin-right:5px; /*Добавляем отступ у пунктов меню*/
}
#idlistcar {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#f6f6f6; /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:5px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    width: 474px;
    margin-bottom: 5px;
}
#idcontact{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#f6f6f6; /*добавляем фон к пункту меню*/
    color:#111111; /*меняем цвет ссылок*/
    padding:5px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    width: 474px;
    margin-bottom: 5px;
}
#idlistcarmodels{
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#f6f6f6; /*добавляем фон к пункту меню*/
    color:#111111; /*меняем цвет ссылок*/
    padding:5px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    border-radius:4px; /*добавляем скругление*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
    width: 432px;
    margin-bottom: 5px;
}
